.main__chat
  .main__chat--header
    .left__box
      .current__group
        = @group.name
      %ul.member__list
        %li.member__list--first
          member:
        %li.member__list--second
          -@group.users.each do |user|
            %li= user.name
    = link_to "#", class: "edit-btn" do
      Edit
  .messages
    = render @messages

  .form
    = form_for [@group, @message], html: {id: 'new_message'} do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
          