.main__chat
  .main__chat--header
    .left__box
      .current__group
        test
      %ul.member__list
        %li.member__list--first
          member:
        %li.member__list--second
          masa
    = link_to "#", class: "edit-btn" do
      Edit
  .messages
    .messages
  = render @messages
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__text', placeholder: 'type a message'
    .input__box
      = f.label :image, class: 'input__box__image' do
        = icon('fas', 'image', class: 'icon')
        = f.file_field :image, class: 'hidden'
    = f.submit 'Send', class: 'submit__btn'
          